@media(min-width:768px){


    .hero::before{
        right: -20rem;
    }
    /* .hero-img-section{
        margin-left: 6rem;
    } */
    .hero-img-section{
        margin: 0 auto;
        float: right;
        /* border: 1px solid black; */
        width: 42%;
        
    }
 
    .hero_text-block{
        /* border: 1px solid black; */
        text-align: left;
        width: 50%;
        margin: 4rem 0 2rem 4rem;

    }
    .text-block_tagline{

        font-size: 1.2rem;
        font-weight: 800;
    }
    .text-block_heading{
        font-weight: bold;
        font-size: 2.5rem;
        line-height: 1.2;
        width: 80%
    }
    .text-block_desc{
        font-size: 1.2rem;
    }

    .hero_cta .hero_btn, .hero_play{
        float: left;
        margin-left: 4rem;
    }
    .hero_play{
        margin-top: 2rem;
    }

    /* ----------- Services ------------ */
    
    .services::before{

        right: 10rem;
 
    }
    
    .services{
        margin: 16rem 0;
    }
    .card-wrapper{
      margin-top: 2rem;
    }
    .card{
        width: 40%;
        margin: 1rem 2rem;
        float: left;
        
    }


    .destination{
        clear: both;
    }
    .services::before{

        right: 0rem;

        width: 20%;
    }

    /*  -------------Destination------------- */

    .destination_card{
        /* width: 90%; */
        margin: 0 0;
    }
    .destination_card img{
        width: 45%;
        float: left;
    }

    /* ---------------Book a trip-------------- */
    .book-trip{
        clear: both;
    
    }
  
    .facilities_desc{
        margin-right: 4rem;
    }

    /* ---------------------Logos----------------- */
    .logos img{
        width: 30%;
    }
    /* ---------------------subsrcription------------- */

    .form{
        padding-bottom: 4rem;
    }
    .form input#emailId{
        width: 30%;
 
    }
    .form .subscription_btn{

        margin-left: 2rem;
        margin-top: 0;
        color: #FFFFFF;
    }

    /* -----------------Footer---------------- */
    .company_desc, .company, .contacts, .more{
        float: left;
    }
    .company_desc p{
        width: 60%;
    }

    .copyright,.outbounds{
        clear: both;
    }
    .outbounds{
       position: relative;
       top:-8rem;
    }

    .company, .contacts, .more{
        padding: 0 1rem;
    }
}

/* ================================================================= */

@media (min-width:864px) {
    .outbounds{
        position: static;
 
     }
     .hero-img-section{
        margin-top: -1rem;
    }

}

/*==================================================================== */
@media(min-width:1003px){
    .content_wrapper{
        width: 100%;
    }
    .hero::before{
        right: -15rem;
    }
    .navbar .hamburger{
        display: none;
    }

    .navbar ul.navbar-items{
        /* width: auto; */
        display: inline-block;
        /* margin-left: 2rem; */
    }

    .navbar ul{
        float: right;
        margin-top: -2.5rem;
    }
    .navbar ul li{
        float: left;
        color : #212832;
        font-weight: none;
        font-size: 1.1rem;
        padding: 0 0.8rem;
    }

    .text-block_heading{
        font-weight: bold;
        font-size: 3.5rem;
        line-height: 1.2;
        width: 80%
    }

    /* .hero-img-section{
        margin-top: -1rem;
    } */

   
    .card-wrapper{
        max-width: 100%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        
    }
    .card{
        width: 18%;
        margin: 0 3rem 0 1.3rem;


        /* border: 1px solid red; */
        
    }
    
    
    .destination_card img{
        width: 33%;
        float: left;
    }

    /* -------------------facilitie--------- */
    
    .facilities-wrapper{
        width:45%
    }
    .facilities_desc{
        width: 85%;
        margin-right: 0rem;
    }


    

    .book-trip{
        padding-left: 2rem;
    }

    .book-trip_card{
        width: 40%;
        margin-top: -5rem;
        margin-left: 2rem;
        margin-right: 2rem;
        /* border: 1px solid red; */
        float: right;
    }
    
    
    .book-trip .heading{
        width: 40%;
        line-height: 4rem;
        font-weight: 700;
        font-size: 50px;
    }
    
.book-trip .msg{

    font-weight: 600;
    font-size: 1.1rem;
    line-height: 1.8rem;

}
.trip-card_wrapper{
    width: 40%;

}


/* ==================testimonials============== */
.testimonials{
    clear: both;

}
.testimonials_title, .comment_section{
    float: left;
    width: 50%;
    /* border: 1px solid red; */
}
.testimonials_title{
    padding: 2rem;
}
.comment_section{
    padding-left:1rem
}
.testimonials .comment_section .comment_card {
    float: left;
    width: 90%;
    margin-top: 0;
    margin-left: 2rem;
}
/* ---------------------Logos----------------- */
.logos img{
    width: 18%;
}

.subscription{
    width: 95%;
    margin: 4rem auto;
}

/* -----------------------Footer-------------- */

.footer{
    width: 90%;
    margin: 4rem auto;
}

}

@media(min-width:1130px){
    .outbounds{
        float: right;
        margin-top: -9rem;
    
     }
}