
.hero::before{
    content: url(/images/hero/Decore.png);
    /* background-image: url(/images/hero/Decore.png); */
    background-repeat: no-repeat;
    position: absolute;
    right: -30rem;
    z-index: -1;
    
}


.navbar{
    padding: 2.5rem 2rem;

}

.logo-section{
    float: left;
}
.hamburger{
    float: right;
    border: 1px solid rgb(185, 180, 180);
    padding: 0.5rem;
}

.navbar ul{
    display: none;
    clear: both;
    text-align: center;
    list-style-type: none;
    padding: 1rem; 
}

.navbar ul li{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;

}
.navbar ul li:last-child{
    padding-bottom: 0rem;
}

.navbar ul li a{
    color : #212832;
    text-decoration: none;
}

.navbar ul.show{
    display: block;
}

.navbar.bg-color{
    background-color: rgba(249, 250, 253, 0.5);;
    transition: 3s linera 1s ease;
}

