.main-body{
    width: 100%;
}
/* .hero::before{
    content: url(/images/hero/Decore.png);
    background-repeat: no-repeat;
    position: absolute;
    right: -30rem;
    z-index: -1;
    
} */

/* body{
    overflow: hidden;
} */


.navbar{
    padding: 2.5rem 2rem;

}

.logo-section{
    float: left;
}
.hamburger{
    float: right;
    border: 1px solid rgb(185, 180, 180);
    padding: 0.5rem;
}

.navbar ul{
    display: none;
    clear: both;
    text-align: center;
    list-style-type: none;
    padding: 1rem; 
}

.navbar ul li{
    padding-bottom: 1rem;
    font-size: 1.1rem;
    font-weight: 600;

}
.navbar ul li:last-child{
    padding-bottom: 0rem;
}

.navbar ul li a{
    color : #212832;
    text-decoration: none;
}
.navbar ul li a:hover{
    color: #DF6951;;
}

.navbar ul.show{
    display: block;
}

.navbar.bg-color{
    background-color: rgba(249, 250, 253, 0.5);;
    transition: 3s linera 1s ease;
}

/*-----------------------  Hero content ------------------------------*/
.hero-img-section{
    margin: 1rem auto;
}
.hero-img-section img{
    width: 90%;
}


.hero_text-block{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}
.text-block_tagline{
    color:#DF6951;
    margin-bottom: 1rem;
    font-family: 'Poppins', sans-serif;
}
.text-block_heading{
    font-weight: 84;
    margin-bottom: 0.6rem;
}
.text-block_desc{
    font-family: 'Poppins', sans-serif;
    color: #5E6282;
    line-height: 1.6;
}

.hero_cta{
    text-align: center;
    
}

.hero_btn{
    border: 1px solid #F1A501;
    background-color: #F1A501;
    padding: 1.5rem 1rem;
    color: #FFFFFF;
    width: 12rem;
    border-radius: 0.5rem;
    margin: 2rem auto;

}
.hero_btn a{
    text-decoration: none;
    font-size: 18px;
}
.hero_btn:hover{
    background-color: #ebca83;
}

.hero_cta .hero_play button{
    background-color: #DF6951;
    /* background-color: #F1A501; */
    height: 3.25rem;
    width: 3.25rem;
    border-radius: 50%;
    margin-right: 1.3rem;
    border: none;
}

.hero_cta .hero_play a{
    text-decoration: none;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
}
.hero_cta .hero_play button:hover{
    background-color: #f5856e;
}

/*---------------------------- Services and destination ------------------------- */

.services, .destination{
    margin-top: 8rem;
    text-align: center;
    line-height: 1.6;
}
.services::before{
    content: url(/images/services/decor.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 5rem;
    z-index: -1;
    width: 20%;
}

.services_tagline, .destination_tagline{
    font-family: 'Poppins', sans-serif;
    /* font-weight: 18; */
    color: #5E6282;
    margin-bottom: 0.6rem;
}
.services_heading, .destination_heading{
    color: #14183E;
    width: 90%;
    text-align: center;
    font-weight: bold;
    /* font-size: 3.125rem; */
    margin: 0 auto 3.25rem;

}
.card{
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    
}
.card_heading{
    font-family: 'Open Sans', sans-serif;
    color: #1E1D4C;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 2rem 0rem 1rem 0rem;
}
.card_desc{
    color: #5E6282;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

/* ---------------------------------------Destination ----------------------------------- */

.destination_card{
    /* width: 90%; */
    margin: 0 auto;
}

.destination_card img{
    width: 100%;
}

/* ------------------ Book a trip ------------------------------ */

.book-trip{
    margin-left: 2rem;

}
.book-trip .msg{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    color: #5E6282;
    padding: 1rem 0;
}
.book-trip .heading{
    width: 80%;
    color: #14183E;
    /* font-weight: bold; */
    /* font-size: 3.1rem; */
    font-size: 2rem;
}

.facilities{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.desc_heading{
    color: #5E6282;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;

}
.facilities_desc{
    width: 80%;
    float: right;
    padding-right: 0.5rem;
    line-height: 1;
    font-family: 'Poppins', sans-serif;
    color: #5E6282;
    font-size: 1rem;
}